<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录 - 撩饭后管系统</title>
</head>
<body>
    <ul class="tab-title">
        <li class="current">登录</li>
        <li>注册</li>
    </ul>
    <div class="tab-content">
        <ul>
            <li><input type="text" id="name" placeholder="用户名"></li>
            <li><input type="password" id="password" placeholder="密码"></li>
            <li><a href="javascript:void(0)">提交</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <ul>
            <li><input type="text" id="name" placeholder="用户名"></li>
            <li><input type="password" id="password" placeholder="密码"></li>
            <li><input type="text" id="invitationCode" placeholder="邀请码"></li>
            <li><a href="javascript:void(0)">提交</a></li>
        </ul>
    </div>
    

</body>
</html>