<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" id="J-sidebar">
            <!-- Optionally, you can add icons to the links -->
            <li><a href="[webroot]/user/index.html"><i class="fa fa-users"></i> <span>用户管理</span></a></li>
            <li class="treeview">
                <a href="#"><i class="fa fa-bar-chart"></i> <span>数据统计</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="[webroot]/bi/index.html">总数</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-html5"></i> <span>作品管理</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="[webroot]/works/index">作品列表</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-clone"></i> <span>模板管理</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="[webroot]/template/index">模板列表</a></li>
                    <li><a href="[webroot]/template/classify">模板分类管理</a></li>
                </ul>
            </li>
            <li><a href="[webroot]/file/index"><i class="fa fa-file-image-o"></i> <span>资源管理</span></a></li>
        </ul><!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>