<!DOCTYPE html>
<html>

<head>
  <title>Help</title>
  <!-- <link rel='stylesheet' href='/static/stylesheets/style.css' /> -->
</head>

<body>

  <dl>
    <dt>前台</dt>
    <dd><a href="/">列表页</a></dd>
    <dd><a href="/details">详情页</a></dd>
    <dd><a href="/login">登录/注册页</a></dd>
    <dd><a href="/member/account">个人信息</a></dd>
    <dd><a href="/member/products/list">已购买商品列表</a></dd>
    <dd><a href="/member/products/details">已购买商品详情</a></dd>
  </dl>

  <dl>
    <dt>后管</dt>
    <dd><a href="/admin/login">登录/注册</a></dd>
    <dd><a href="/admin/users/users">普通用户</a></dd>
    <dd><a href="/admin/users/shops">商家用户</a></dd>
    <dd><a href="/admin/products/list">商品列表</a></dd>
    <dd><a href="/admin/products/add">添加商品</a></dd>
  </dl>

</body>

</html>