{% extends '../template/layout.html' %}

{% block title %}撩饭后管平台{% endblock title %}

{% block content %}
<div class="ta-mn-right-warp">
<div class="ta-content">
    <div class="text-center" style="margin-top: 100px">
        <h3><i class="fa fa-hand-spock-o"></i> 亲爱的管理员, 欢迎您!</h3>
    </div>
</div>
{% endblock%}

{% block script %}
<!-- <script data-fixed="true" data-main="/assets/static/js/marketing/offer.js" src="/assets/static/vendors/requirejs/require.js"></script> -->
{% endblock %}
