/* base */
*{margin:0; padding:0;}
html{height: 100%; min-width:1024px;}
body{font:12px/1.5 "微软雅黑","宋体",tahoma,arial;  background:#E9E9E9;height: 100%;margin: 0;padding: 0; color:#4d4d4d;}
.body1{ background-color:#F5F5F5;}
table, div, p, td, li, dd, a, span{font:inherit;}
table{ border-collapse:collapse; border-spacing:none;}
ul, li{list-style:none;}
a, img{border:0;}
a{text-decoration: none; cursor: pointer;hide-focus: expression(this.hideFocus=true);outline: none;}
a:hover{text-decoration:underline;}
a:active{text-decoration:underline;}
.a_nobor:hover{ text-decoration:none;}
html, body {margin: 0;	padding: 0;	height:100%;}

input,button,select,textarea{ outline:none;}

.f1{font-size:12px;}
.f2{font-size:14px;}
.f3{font-size:16px;}
.f4{font-size:18px;}
.f5{font-size:20px;}
.f6{font-size:24px;}
.f7{font-size:30px;}
.f8{font-size:36px;}

.bgc1{ background-color:#fff;}
.bgc2{ background-color:#EDEDED;}
.bgc3{ background-color:#F5F5F5}
.bgc5{ background-color:#ff632a}
.bgc6{ background-color:#F9FAF9}
.c1{ color:#fff;}
.c2{ color:#4d4d4d;}
.c3{ color:#FF6329;}
.c4{ color:#666666;}
.c5{ color:#999999;}
.c6{ color:#47A853;}
.c7{ color:#222222;}
.c8{color: #3786D0;}
.c11{ color:#48BFAA;}
.c12{ color:#80DCFF}
.c13{ color:#FF6329;}
.c14{ color:#47A853;}
.m20{ margin:20px;}

.ma{ margin:0 auto;}
.m5{ margin:5px;}
.m15{ margin:15px;}
.m25{ margin:25px;}
.m30{ margin:30px;}
.m53{ margin:53px;}
.m_r5{ margin-right:5px;}
.m_r10{ margin-right:10px;}
.m_r13{ margin-right:13px;}
.m_r15{ margin-right:15px;}
.m_r20{ margin-right:20px;}
.m_r22{ margin-right:22px;}
.m_r40{ margin-right:40px;}
.m_r65{ margin-right:65px;}
.m_lr5{ margin:0 5px;}
.m_lr8{ margin:0 8px;}
.m_lr10{ margin:0 10px;}
.m_lr15{ margin:0 15px;}
.m_lr30{ margin:0 30px;}
.m_l5{ margin-left:5px;}
.m_l10{ margin-left:10px;}
.m_l13{ margin-left:13px;}
.m_l15{ margin-left:15px;}
.m_l20{ margin-left:20px;}
.m_l25{ margin-left:25px;}
.m_l30{ margin-left:30px;}
.m_l36{ margin-left:36px;}
.m_l40{ margin-left:40px;}
.m_l47{ margin-left:47px;}
.m_l50{ margin-left:50px;}
.m_l60{ margin-left:60px;}
.m_l65{ margin-left:65px;}
.m_l75{ margin-left:75px;}
.m_l90{ margin-left:90px;}
.m_l120{margin-left: 120px;}
.m_l195{margin-left: 195px;}
.m_t3{ margin-top:3px;}
.m_t5{ margin-top:5px;}
.m_t10{ margin-top:10px;}
.m_t14{ margin-top:14px;}
.m_t15{ margin-top:15px;}
.m_t20{ margin-top:20px;}
.m_t23{ margin-top:23px;}
.m_t25{ margin-top:25px;}
.m_t29{ margin-top:29px;}
.m_t32{ margin-top:32px;}
.m_t35{ margin-top:35px;}
.m_t37{ margin-top:37px;}
.m_t43{ margin-top:43px;}
.m_t47{ margin-top:47px;}
.m_t50{ margin-top:50px;}
.m_t90{ margin-top:90px;}
.m_b0{margin-bottom:0;}
.m_b4{margin-bottom:4px;}
.m_b10{margin-bottom:10px;}
.m_b18{margin-bottom:18px;}
.m_b28{ margin-bottom:28px;}
.m_b45{ margin-bottom:45px;}
.p13{ padding:13px;}
.p20{ padding:20px;}
.p40{ padding:40px;}
.p_l6{ padding-left:6px;}
.p_l2{ padding-left:2px;}
.p_l15{ padding-left:15px;}
.p_l18{ padding-left:18px;}
.p_l12{ padding-left:12px;}
.p_l30{ padding-left:30px;}
.p_lr24{ padding:0 24px;}
.p_lr40{ padding:0 40px;}
.p_lr55{ padding:0 55px;}
.p_l24{ padding-left:24px;}
.p_r24{ padding-right:24px;}
.p_r54{ padding-right:54px;}
.p_t10{ padding-top:10px;}
.p_t15{ padding-top:15px;}
.p_t25{ padding-top:25px;}
.p_t20{ padding-top:20px;}
.p_t30{ padding-top:30px;}
.p_t90{ padding-top:90px;}
.p_l40{ padding-left:40px;}
.p_l46{ padding-left:46px;}
.p_l60{ padding-left:60px;}
.p_r13{ padding-right:13px;}
.p_b10{ padding-bottom:10px;}
.p_b18{ padding-bottom:18px;}
.p_b30{ padding-bottom:30px;}
.p_b213{padding-bottom:213px; _padding-bottom:0;}
.p_tb80{ padding:80px 0;}
.cur_po{cursor:pointer;}

/*by lc*/
.p_b40{ padding-bottom:40px;}


.p50{ padding:50px 0px;}
.c{zoom:1; clear:both;}
.c:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.dsib{ display:inline-block}
.dsb{ display:block}
.fl{float:left;}
.fr{float:right;}
.oh{overflow:hidden;}


.w295{ width:295px;}
.w220{ width:220px;}
.w180{ width:180px;}
.w190{ width:190px!important;}
.w310{ width:310px}
.w320{ width:320px}
.w325{ width:325px}
.w340{ width:340px}
.w380{ width:380px}
.w390{ width:390px}
.w400{ width:400px}
.w500{ width:500px}
.h40{ height:40px;}
.h54{ height:54px; line-height:54px;}
.h36{ height:36px; line-height:36px;}
.h32{ height:32px; line-height:32px;}
.h30{ height:30px; line-height:30px;}
.w_50{width:50%;}
.w_100{width:100%;}
.w80{ width:80px;}
.w128{ width:128px;}
.w150{ width:150px;}
.w255{ width:255px;}
.fwb{font-weight: bold;}
.por{ position:relative; *z-index:0;_z-index:0;}
.por1{ position:relative; *z-index:1;_z-index:1;}
.por2{ position:relative; *z-index:2;_z-index:2;}
.por3{ position:relative; *z-index:3;_z-index:3;}
.por4{ position:relative; *z-index:4;_z-index:4;}
.por67{ position:relative;z-index:1;}
.poa{ position:absolute;}
.tar{ text-align:right}
.tac{ text-align:center}
.tal{ text-align:left}
.bor_r{border-right: 1px dashed #dddddd;}
.bor_b{border-bottom: 1px dashed #dddddd;}
.bor_1{ border:1px solid #00C618}
.bor_2{border: 1px solid #dddddd;}
.bor_b_s{border-bottom: 1px solid #dddddd;}
.bor_b_d{border-bottom: 1px dashed #dddddd;}
.bor_t_s{border-top: 1px solid #dddddd;}
.bor_t_d{border-top: 1px dashed #dddddd;}
.bor_l_s{border-left: 1px solid #dddddd;}
.bor_r_s{border-right: 1px solid #dddddd;}
.noborleft{ border-left:0;}
.nobortop{ border-top:0;}
.vh{visibility: hidden}
.lh18{ line-height:18px;}
.lh24{ line-height:24px;}
.bor_ra{border-radius: 2px;}

/*文字超出省略*/
.omitted{text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}

/*四种链接样式：黑蓝绿红*/
.linkone a{color: #222; }
.linkone a:hover{color: #FF6329; }
.linkone a:active{ color:#E8470C;}

.linktwo{color: #3786D0; }
.linktwo:hover{color: #3786D0; text-decoration:underline!important; }
.linktwo:active{ color:#1965AD;}

.linkthree{color: #47A853; }
.linkthree:hover{color: #47A853; }
.linkthree:active{ color:#2F933C;}

.linkfour{color: #F82400; }
.linkfour:hover{color: #F82400; }
.linkfour:active{ color:#CB3300;}

/**/
.logo,.quit,.iconnew,.searchbar,.mic,.search,.headpo,.headpo_min,.iconedit,.iconsafe,.iconsafe2,.sunny,.icon1,.icon2,.icon3,.icon4,.icon5,.upgrade,.icon6,.icon8,.icon9,.icon10,.icon11,.icon_tip,.icon12,.icon13,.icon14,.icon15,.icon16,.icon17,.icon18,.icon19,.icon20,.tip_box_b,.iconAA1,.iconAA2,.iconAA3,.iconAA4,.iconAA5,.iconAA6,.iconAA7,.iconAA8,.iconAA9,.iconAA10,.iconAA11,.iconAA12,.iconAA13,.iconAA14,.icon26,.icon27,.icon28,.icon29,.icon30,.icon31,.icon32,.icon33,.icon34,.icon35,.icon36,.icon37,.icon38,.icon39,.icon40,.icon41,.icon42,.icon43,.icon44,.icon45,.icon46,.icon47,.icon48,.icon49,.icon50,.icon51,.icon52,.icon53,.icon54,.icon55,.icon56,.icon57,.icon58,.icon59,.icon60,.iconA61,.iconA62,.iconA63,.iconA64,.iconA65,.icon63,.icon64,.grounSearch,.icon65,.icon66,.icon67,.icon68,.icon69,.icon70,.icon71,.icon72,.icon73,.icon74,.icon75,.search_bg,.search_bg2,.icon76,.icon76A,.icon76B,.iconUp,.iconDown,.income_bg,.income_bg2,.icon77,.icon78,.icon79,.icon80,.icon81,.icon82,.icon83,.icon84,.icon85,.icon86,.icon87,.icon88,.icon89,.icon90,.icon91,.icon93,.date_icon,.sel_icon1,.sel_icon2,.sel_icon3,.sel_iconA1,.sel_iconA2,.sel_iconA3,.icon92,.edit_icon{ background:url(../images/collection.png); _overflow:hidden}


/*按钮*/

.btn1,.btn2,.btn3,.btn4,.btn-login,.otp-btn,.otp-disble,.btn5,.btn6,.btn7,.btn8,.btn9,.btn10,.btn_continue,.btn_o,.sel_search,.s-disable1{display: inline-block;background-color: #FF6329;height:30px;line-height:30px;font-size: 12px;padding: 0 20px;color: #fff;white-space: nowrap;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;-webkit-user-select: none;-ms-user-select: none;-moz-user-select: none; }

.btn1:hover{ background-color:#E85722; text-decoration:none;}
.btn2{background-color: #47A853;}
.btn2:hover{ background-color:#389444; text-decoration:none;}
.btn3{height:36px;line-height:36px;}
.btn3:hover{ background-color:#E85722; text-decoration:none;}
.btn4{height:34px;line-height:34px;color:#c3c3c3; background-color:#efefef; }
.btn4:hover{ text-decoration:none; cursor:auto;}
.btn-login,.otp-btn,.otp-disble,.btn7{ height:40px; width:140px; line-height:40px; font-size:18px; text-align:center; padding:0;}
.btn-login:hover,.otp-btn:hover,.btn7:hover,.btn9:hover{ background-color:#E85722; text-decoration:none; }
.otp-disble{ background-color:#C3C3C3; color:#e7e7e7;-webkit-user-select: none;-ms-user-select: none;-moz-user-select: none;}
.otp-disble:hover{text-decoration:none; cursor:auto;}
.btn5,.btn8{ height:38px; line-height:38px; padding:0 30px;background-color: #fff; border:1px solid #ff6329; color:#ff6329;font-size:18px;}
.btn5{ width:98px; padding:0; text-align:center;}
.btn5:hover,.btn8:hover{text-decoration:none;background-color: #f9f9f9; border:1px solid #e85722; color:#e85722;}
.btn6{ height:28px; line-height:28px;}
.btn6:hover{ background-color:#E85722; text-decoration:none;}

.btn7,.btn8{ width:140px; font-size:18px; padding:0; text-align:center;}
.btn9{ height:40px;line-height:40px; font-size:18px;}
.btn_continue{ width:156px; height:39px; line-height:39px; font-size:18px; color:#ffffff; text-align:center;}
.btn_continue:hover{background-color:#E85722; text-decoration:none;}
.btn_o{ width:154px; height:37px; line-height:37px; text-align:center; border:1px solid #ff6329; background:#ffffff;  color:#ff6329; font-size:18px;}
.btn_o:hover{ text-decoration:none;}
.zy_textarea{ border:#ddd solid 1px; padding:10px; border-radius:2px; line-height:20px; width:360px; height:120px;resize: none; font-family:"微软雅黑","宋体",tahoma,arial;}
.s-disable1{ background:#c3c3c3; color:#dfdfdf;}
.s-disable1:hover{ background:#c3c3c3; color:#dfdfdf;}
/*选择按钮*/
.sel_icon1,.sel_icon2,.sel_icon3{ width:16px; height:16px; display:inline-block;vertical-align: middle;}
.sel_icon1{ background-position:-474px -175px;}
.sel_icon2{ background-position:-495px -175px;}
.sel_icon3{ background-position:-517px -175px;}
.sel_iconA1,.sel_iconA2,.sel_iconA3{ width:20px; height:19px; display:inline-block;}
.sel_iconA1{ background-position:-501px -141px;}
.sel_iconA2{ background-position:-525px -141px;}
.sel_iconA3{ background-position:-548px -141px;}
/*下拉菜单*/
.sel_list,.sel_list2,.sel_list3,.sel_list4,.sel_month{width:115px; height:34px; border:1px solid #ddd; text-indent:15px;line-height:34px; font-size:14px;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px; position:relative; font-weight:bold;-webkit-user-select:none; -ms-user-select:none;-moz-user-select:none;}
.icon27{ background-position:-437px -47px; width:9px; height:5px; display:block; position:absolute; top:15px; right:14px;}
.sel_list ul{ top:34px; left:-1px}
.sel_list ul li{ background-color:#fff; width:115px; height:36px; line-height:36px; margin-bottom:0;}
.sel_list ul li:hover{ background-color:#F2F2F2; cursor:pointer;}

.sel_list2{ width:258px; font-weight:normal;}
.DropDownList{ max-height:180px; _height:180px;background-color:#fff; max-width:300px;top:34px; left:-1px; z-index:19;overflow-y: auto;overflow-x:hidden}
.DropDownList li{ max-width:300px; min-height:36px;border-bottom:1px solid #ddd;  }
.DropDownList li .li_p{ padding:10px 15px 10px 15px; margin-right:10px;}
.DropDownList li .li_p p{text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.DropDownList li.noborb{ border-bottom:none;}
.DropDownList li:hover{ background-color:#F2F2F2; cursor:pointer;}

.DropDownList2{ max-height:180px; _height:180px;background-color:#fff; max-width:400px;top:34px; left:-1px; z-index:19;overflow-y: auto;overflow-x:hidden}
.DropDownList2 li{  max-width:400px; min-height:36px;border-bottom:1px solid #ddd;padding:0 15px 0 10px;white-space:nowrap; font-size:14px;text-indent: 0;line-height:36px;}
.DropDownList2 li.noborb{ border-bottom:none;}
.DropDownList2 li:hover{ background-color:#F2F2F2; cursor:pointer;}
.sel_list .DropDownList2 li{ width:inherit;}
.sel_box .DropDownList2 li{ margin-right:0; float:inherit; *float:none; clear:both;}
.sel_list3{ width:127px; height:28px; line-height:28px; font-weight:normal; font-size:12px;}
.sel_month ul{ width:100%; top:100%; left:-1px; z-index:19;overflow-y: auto;}
.sel_month ul li{background-color:#fff; height:36px; line-height:36px;}
.sel_month ul li:hover{ background-color:#F2F2F2; cursor:pointer;}
.icon46{ background-position:-526px -96px; width:13px; height:7px; display:block; position:absolute; top:15px; right:14px; z-index:10;}
.input_list ul li .sel_list2 ul li{ margin-bottom:0;}
.input_list ul li .DropDownList li,.input_list ul li .DropDownList2 li{ margin-bottom:0;}

.DropDownList li.bgc4,.DropDownList2 li.bgc4{ background-color: #F2F2F2;}
.font_sel{background-color:#fff600;color:#f90000}
.textarea1{width: 240px; padding:10px;overflow:hidden;height: 14px;border: 1px solid #ddd;color: #4d4d4d;line-height:18px;
font-size: 14px;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;vertical-align: middle;resize:none; box-sizing: content-box;}
/*lc*/
.w321{ width:321px; font-weight:normal;}
.c9{ color:#006db9;}
.c10{ color:#a1a1a1;}



.add{ border:0; width:260px; height:36px; line-height:36px;}
.add ul{top:35px; left:0}
.add2 ul{ top:98%; left:0;_top:95%; }
.add3 .input2{ padding-left:20px; width:239px;}
.add3 .f3{left:5px; top:0}
.sel-human{ background-color:#fafafa; width:44px; height:34px; border-left:1px solid #EEEEEE; position:absolute; top:1px; right:1px; z-index:0;}
.sel-human-sty{background-color:#f8f8f8; border-left:1px solid #DEDEDE;top:0;right:0}
.sel-human:hover{ background-color:#E8E8E8; border-left:1px solid #DEDEDE; cursor:pointer;}
.icon48{ background-position:-370px -69px; width:24px; height:17px; display:block; margin: 0 auto;margin-top: 10px;}
/*INPUT*/
.input1,.input2,.input3,.input4,.input5,.input6,.input7,.input8,.input9,.input10,.input11,.input12,.input13,.input14{ width:198px; height:34px; border:1px solid #ddd; text-indent:15px; color:#4d4d4d; line-height:34px\9; font-size:14px;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;vertical-align:middle;box-sizing: content-box;}
.input2,.input5{ width:248px;}
.input2:focus,.input1:focus{border: 1px solid #00C618;}
.input3,.input7{width:164px;}
.input3:focus{border: 1px solid #00C618;}
.focus-red{border:1px solid #ff6329;}
.focus-green{border:1px solid #00C618;}
textarea:focus{border:1px solid #00C618;}
.input4{ width:127px; height:28px; line-height:28px; font-weight:bold; font-family:Arial;}
.input4:focus{border: 1px solid #00C618;}
.input6{width:248px; border:none ; z-index:1;}
.input7{ border:none;margin-top: 1px;}
.input8{width:127px; height:28px; line-height:28px;font-size:12px;display:block; text-indent:0; padding-left:10px;}
.input9{ border:none; width:70%;height:36px; line-height:36px;text-indent:5px; *margin-left:0; _margin-left:0;}
.input10{ width:165px; height:28px; line-height:28px; text-indent:0; padding-left:10px;font-size:12px;}
.input11{ width:215px;height:28px; line-height:28px;font-size:12px;display:block}
.input12{width:80px; height:28px; line-height:28px;font-size:12px;display:block}
.input13{width:135px; height:28px; line-height:28px;font-size:12px; text-indent:0; padding-left:10px;}
.input14{ width:148px; text-indent:0; padding-left:10px;}
/*软键盘样式*/
.soft_key,.soft_key2{ width:364px; height:190px;position: absolute;top: 43px;left:-1px;-webkit-user-select:none; -ms-user-select:none;-moz-user-select:none; z-index:99; border:1px solid #ff6329;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;
}
.soft_key .key_box,.soft_key2 .key_box{position:absolute;left:0px;top:0px;z-index:199;width: 364px;height: 190px; background-color:#ddd;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}
.soft_key .key_box .soft_head,.soft_key2 .key_box .soft_head{ background-color:#FF6329; width:364px; height:42px;}
.soft_key .key_box .soft_head .soft_switch a,.soft_key2 .key_box .soft_head .soft_switch a{ background-color:#F15A22;width:85px; height:27px; color:#fff; text-align:center; line-height:27px; margin:7px 10px 0px 10px; cursor:pointer; display:inline-block; border:1px solid #F29775;}
.soft_key .key_box .soft_head .soft_switch a:hover,.soft_key2 .key_box .soft_head .soft_switch a:hover{ background-color:#DD4A13;text-decoration:none;}
.key_main{ margin:8px 0 0 8px;}
.key_main .key_cont li { vertical-align:top;margin-top: 1px; width:30px;height: 29px;line-height: 29px;float: left; margin:0 5px 5px 0; font-size:18px; color:#666; font-family:"arial"}
.key_main .key_cont li a{ background-color:#fff; width:30px; height:28px; border-bottom:1px solid #C1C1C1; float:left; text-align:center; line-height:26px; -moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}
.key_main .key_cont li a:hover{ background-color:#FF6329; cursor:pointer; color:#fff; text-decoration:none;}
.key_main .key_cont .del{ background:url(../images/collection.png) -472px -116px no-repeat; width:21px; display:block; height:15px; margin:7px 0 0 4px;}
.key_main .key_cont .soft_confirm a{width:100px;color:#fff; background-color:#FF6329; font-size:12px;}
.key_main .key_cont .soft_confirm a:hover{background-color:#E85722;}
.icon59{background-position:-505px -116px;width: 24px;height: 17px;display: block;margin: 10px 0 0 10px;}
.soft_key2,.soft_key2 .key_box{ width:260px; height:125px;}
.soft_key2 .key_box .soft_head{ width:260px;}
.pword_con{width: 44px;height: 34px;position: absolute;z-index: 0;border-left: 1px solid #DEDEDE;top: 0;right: 0;}
.pword_sel{background-color:#FF6329;}
.pword_sel .icon59{background-position:-392px -354px;}
/*top*/
.topbar{ width:100%; height:50px; background:#fff;}
.logobox{ float:left; width:175px; padding:10px 0; }
.logo{ background:url(../images/collection.png) -2px -2px; width:280px; height:30px; display:block; }
.topbar .topmenu{float: right;padding: 18px 0;color: #222;position: relative;z-index:0;}
.topbar .topmenu li{ float:left; line-height:14px; height:14px;  padding:0 12px; border-right:1px solid #666;}
.topbar .topmenu .last{ padding:0 0 0 24px; border-right:0;}
.topbar .topmenu .last .quit{ background-position:-114px -42px; width:18px; height:12px; display:block; float:left;}
.icon6{ background-position:-477px -68px; width:5px; height:14px; }
.icon7{ background:url(../images/img2.png); line-height:14px; height:14px;}
.icon8{ background-position:-504px -68px; width:6px; height:14px;}
.icon6,.icon7,.icon8{display:inline-block; vertical-align:middle; margin-bottom:2px;_margin-bottom:0px;}

.topbar2{ width:100%; height:73px; background:#fff; border-bottom:3px solid #EB5300;}
.topbar2 .logobox{ padding:28px 0 15px 0;}
.topbar2 .login-text{ height:26px; line-height:26px; width:100px; border-left:1px solid #EB5300; float:left; margin:30px 0 0 28px; padding-left:15px; font-size:18px; font-weight:bold; color:#666}
.topbar2 .login-help{ float:right; margin-top:27px;}
.topbar2 .login-help li{ float:left; height:30px; line-height:30px; vertical-align:middle}
.topbar2 .login-help li a {height:30px;color:#999;}
.topbar2 .login-help li a i{ float:left; margin:0 9px 0 20px;}
.icon47{ background-position:-97px -253px; width:29px; height:30px; display:inline-block;}
.login-bar{ height:487px; width:100%; padding-top:60px;}
.login-bar .left{ width:440px; height:380px;float:left}
.login-bar .right h2{ font-size:24px; font-weight:normal;}
.login-bar .right .login-box{ width:452px; border:3px solid #ddd; background-color:#fff;}
.login-box ul.login-ul{ margin:32px 0 10px 32px;}
.login-box ul li{ vertical-align:top;}

.login-box ul li.m_t16{ margin-top:16px;}
.login-box ul li a.linktwo{ height:36px; line-height:36px;}
.login-box ul li a.m_l20{ _margin-left:10px}
.login-mask{top: 0;left: 0;width:82%;text-align: center; z-index:1; _width:50%; }
.login-box ul li .error_info2 { margin-left:0px}
.login-box ul li .error_info2 .icon49{top: 0;left: 0;}
.check_box{ width:80px; height:36px;}
.loading_img{ background:url(../images/loading-sw36.gif) no-repeat 50% 50%;}

/*导航条*/
.navbar{ width:100%; height:40px; background-color:#FF6329; position:relative; z-index:100;}
.navbar .navmenu{ float:left;  width:700px;}
.navbar .navmenu li {float:left;height:40px; line-height:40px; position:relative; z-index:0; }
.navbar .navmenu li a{padding:10px 20px;color:#fff;font-size:14px;}
.navbar .navmenu .sel,.navbar .navmenu li a:hover{ background-color:#EC3D00; text-decoration:none;}
.navbar .navmenu li a:active{text-decoration:none;}
.navbar .navmenu li .iconnew{ background-position:-434px -69px; width:27px; height:13px; position:absolute;right:2px; top:-3px;}

.searchbar{ background-position:-353px -222px; width:180px; height:26px; float:right; margin-top:7px; _height:24px;  padding:1px 0;}
.searchbar p{ width:15px; border-right:1px solid #ddd; height:19px; padding:4px 7px 0 12px; float:left;}
.sea_input,.searchbar input{ float:left; width:115px;_width:108px; height:20px; line-height:20px; margin-top:1px; border:0;text-indent: 8px; font-size:12px; color:#999; padding:1px;background: rgba(0,0,0,0);}
.sea_input{ width:157px;_width:148px;color:#333; background-color:#f8f8f8;}
.searchbar .fl .mic{ background-position:-412px -41px; width:12px; height:16px; float:left; display:inline-block; }
.search{ background-position:-383px -41px; height:17px; width:17px; display:inline-block; margin:3px 0 0 3px;}
.icon63{ background-position:-518px -11px; width:11px; height:6px; display:block; position:absolute; top:-6px; left:30px;}

.search_box{ width:206px; height:28px;}
.search_box .search_bg,.search_box .search_bg2{ width:206px; height:28px; background-position:-562px -5px; padding-left:10px;}
.search_box .search_bg2{background-position:-562px -37px;}
.search_box .sea_input{ margin-top:3px;}
.search_box .search{ margin:5px 0 0 3px;}
.second_list{ position:absolute; z-index:19; background-color:#fff; top:40px; left:37%; padding:15px 10px 8px 10px; border:1px  solid #dddddd;}
.second_list p{ color:#999; font-size:14px;padding:0 10px; margin-bottom:10px;}
.second_list ul { float:left; _width:90px}
.second_list ul li{height:28px; line-height:28px;position:relative}
.second_list ul li a{padding:4px 10px 3px 10px;margin:0 0 2px 0;color:#222; font-size:14px; }
.second_list ul li a:hover{background-color:#ec3d00; color:#fff; cursor:pointer; text-decoration:none;}
.second_list ul li .iconnew{ background-position:-434px -69px; width:27px; height:13px; position:absolute;right:-19px; top:5px;}

.second_list1{padding:0;}
.secondPadding{padding:15px 10px 8px 10px; float:left;}

/*页脚*/
.content {min-height:100%;_height:100%;	position: relative;}
.footer{ height:190px; background:#fff;}
.footer2{ position:absolute; bottom:0; left:0; width:100%; _position:relative; _margin-top:15px; z-index:0;}
.footer .w930{ height:190px;}
.footer .w930 ul{padding-top:34px; float:left}
.footer .w930 ul li{ float:left; width:130px; _display:inline-block}
.footer .w930 ul li.m_l36{ _margin-left:36px;}
.footer .w930 ul li p.footer_bar{ line-height:30px; height:30px; font-size:14px; font-weight:bold;}
.footer .w930 ul li p.tac{ line-height:24px; color:#999;}
.footer .w930 ul.img_ul{ padding-top:34px; float:right}
.icon28,.icon29,.icon30,.icon31{ width:30px; height:30px; display:inline-block; float:left; margin-right:10px;}
.icon28{ background-position:-4px -66px;}
.icon29{ background-position:-40px -66px;}
.icon30{ background-position:-75px -66px;}
.icon31{ background-position:-112px -66px;}
.icon32{ background-position:-7px -292px; width:219px; height:94px; margin:34px 0 0 36px;}
.icon33,.icon34{ width:80px; height:80px; margin:10px 8px 0 0; float:right}
.icon33{ background-position:-4px -166px;}
.icon34{ background-position:-92px -166px;}



/*面包屑导航*/
.bnavbar{ width:100%; height:30px; background-color:#f5f5f5;}
.bnavbar .w930 p { height:30px; line-height:30px; color:#666; margin-left:20px;}

.icon38{ background-position:-458px -42px; width:15px; height:14px; display:inline-block;vertical-align: middle;margin-left: 8px;margin-bottom: 2px;_margin-bottom: 0;}
.pay_box2_l{ width:358px;height:118px; float:left; padding:0 0 0 49px;}
.pay_box2_r{height:118px; float:left; padding-left:5px;}
.icon39{ background-position:-488px -44px; width:11px; height:13px; display:inline-block;vertical-align: middle;_margin-bottom: 0;}
.icon40,.icon41{ width:10px; height:6px; background-position:-509px -48px; display:inline-block;vertical-align: middle;}
.icon41{ background-position:-527px -48px;}
.ul_list { background-color:#fff;}
.ul_list ul{ border-top:0;}
.ul_list ul li{vertical-align: top;}
.ul_list ul li p{ float:left; text-align:right; height:40px; line-height:40px; border-bottom:1px dashed #ddd;}
.ul_list ul li.onetitle p{ background-color:#F9F9F9; border-bottom:1px solid #ddd;color:#999;}
.ul_list ul li p.cont1{ width:263px; text-align:left; padding-left:24px;}
.ul_list ul li p.cont2{ width:133px;}
.ul_list ul li p.cont3{ width:171px;}
.ul_list ul li p.cont4{ width:157px;}
.ul_list ul li p.cont5{ width:156px; padding-right:24px;}
.ul_list ul li p.cont6{ width:191px;}
.ul_list ul li p.cont7{ width:101px;}
.ul_list ul li p.cont8{ width:24px;}
.ul_list ul li p.cont9{ width:127px;}
.ul_list ul li p.cont10{ width:142px;}
.ul_list ul li p .icon41,.ul_list ul li p .icon40{margin: 17px 5px 0 0;}
.ul_list ul li p.tal{ text-align:left;}
.ul_list ul li p.tac{ text-align:center;}
.list_tac ul li p{ text-align:center;}
.bgc2 p{ background-color:#EDEDED}
.bgc3 p{ background-color:#F5F5F5}
.ul_list ul li.noborb p{border-bottom:none;}
.iconUp,.iconDown{ width:5px; height:8px; display:inline-block; margin-left:5px; vertical-align:middle}
.iconUp{background-position:-352px -94px;}
.iconDown{background-position:-365px -94px;}

/*弹出窗口*/
.open-box{ width:574px; height:353px; background-color:#fff;box-sizing:border-box;}
.open-box .open-box-demo{ padding:21px 11px;height: 215px;}
.open-box .open-tip{ background-color:#fefaef; height:32px; line-height:32px;}
.open-box .input_list ul li p{ width:118px;} 
.open-box-b{padding:11px; color:#666;}
.open-box-b ul{ padding-left:20px;}
.open-box-b ul li{list-style:square; margin-top:8px;}
.open-box2{width:424px; height:244px; background-color:#fff;border:3px solid #ddd; padding:20px}
.open-box2 .dsb{ display:block;}
.icon60{ background-position:-434px -9px; width:17px; height:16px; display:block;}
/*分页控件*/
.icon50,.icon51,.icon52,.icon53{ background-position:-510px -382px; width:70px; height:28px; display:block; float:left;}
.icon50:hover{ background-position:-510px -320px;}
.icon51{ background-position:-510px -413px;}
.icon51:hover{ background-position:-510px -351px;}
.icon52{ background-position:-510px -258px;}
.icon52:hover{ cursor:default;}
.icon53{ background-position:-510px -289px;}
.icon53:hover{ cursor:default;}
.page{ float:right;line-height:28px; _margin-right:11px; }
.page ul{ float:left;border:0; margin-left:10px;padding-bottom:0;}
.page ul li{ float:left; height:28px; width:28px; padding:0 0;vertical-align: top;border-bottom:0;margin-left:-1px;-webkit-user-select: none;-ms-user-select: none;-moz-user-select: none; }
.page ul li a{height:26px; width:26px; display:block; text-align:center;line-height:26px;border:1px solid #c8c8c8; position:relative; z-index:0; }
.page ul li a:hover{ color:#ff6329; text-decoration:none;border:1px solid #ff6329;position:relative; z-index:1}
.page ul li a.sel{background-color:#ff6329; color:#fff; font-weight:bold;border:1px solid #c8c8c8; }
.page ul li.other{ width:40px;height:28px; margin-left:0;-webkit-user-select: none;-ms-user-select: none;-moz-user-select: none;}
.page ul li.other a{width:39px;height:26px; font-weight:bold;border:0; }
.page ul li.other a:hover{ background-color:#fff; cursor:auto; color:#4d4d4d;border:0; }
.page .input-page{ float:left; margin-right:10px; }
.page .input-page p{float:left;line-height:28px; height:28px; }
.page .input-page input{ width:28px; line-height:26px; height:26px; border:1px solid #C8C8C8; text-indent:5px; margin:0 5px;}
/*tip窗口*/
.card-tip {width:469px;position: absolute;top: 120%;right: 0;margin-top: 10px;text-align: left;color: #666;font-size: 12px;line-height: 18px;background: #fcfce7;border: 1px solid #ffae58;padding:10px;z-index:19;white-space: initial;}
.icon58{background-position: -405px -70px;width: 20px;height: 11px; display:block; position:absolute;top: -10px;right:20px;}
.table1{ width:100%; background-color:#fff;}
.table1 tr th{border:1px solid #ddd; text-align:center; padding:3px 20px; font-weight:normal; line-height:24px; }
.table1 tr td{ border:1px solid #ddd; padding:3px 10px;}
/*loading样式*/
.loadingBox{width:100%;height:100%; position:fixed;_position:absolute;_height:600px;left:0;top:0;z-index:999;}
.loadingBox .toastBoxInner{width:160px;height:120px;}
.loadingBox .toastBoxInner .toast_lb .toast_cnt{padding: 24px 0 24px 6px;height:72px;}
.loadingBox .toastBoxInner .toast_lb .toast_cnt img{margin-bottom:10px;width:36px;}
.loadingBox .toastBoxInner .toast_lb .toast_cnt span{display:block;font-size:14px;}
.ui-dialog .loadingBox{position:absolute;left:0;top:0;width:100%;height:100%;_height:450px;z-index:999}
.ui-dialog .loadingBox .toastBoxInner{width:111px;height:82px;}
.ui-dialog .loadingBox .toastBoxInner .toast_lb .toast_cnt{padding: 16px 0 16px 6px;height:50px;}
.ui-dialog .loadingBox .toastBoxInner .toast_lb .toast_cnt img{margin-bottom:7px;width:25px;}
.ui-dialog .loadingBox .toastBoxInner .toast_lb .toast_cnt span{display:block;font-size:12px;}
.toastBox{position:absolute;left:0;top:0;width:100%;height:100%;_height:450px;z-index:999;background:url(about:blank)\0; /*解决IE8穿透*/
}
.toastBox .toastBoxInner{min-height:125px;_height:125px}
.toastBoxInner{position: relative;margin:0 auto;max-width: 400px;max-height: 400px;min-width: 12px;min-height: 12px}
.toastBoxInner .toast-close-button{width: 15px;height: 15px;position:absolute;top: 15px;right: 15px;cursor: pointer;        background-image: url(../images/xiaotubiao.png);background-repeat: no-repeat;background-position: 0 -90px;}
.toastBoxInner .toast_bg{background-image: url(../images/w400a65.png);background-repeat: no-repeat;}
.toastBoxInner .toast_lt{height:6px;background-position: 0 0;overflow:hidden;}
.toastBoxInner .toast_rt{width:6px;height:6px;background-position: right top;overflow:hidden;}
.toastBoxInner .toast_rb{width:6px;background-position: right bottom;overflow:hidden;}
.toastBoxInner .toast_lb{background-position: left bottom;word-break: break-all;}
.toastBoxInner .toast_lb .toast_cnt{padding: 0 33px 25px 39px;color:#fff;text-align:center;font-size:14px;}
.toastBoxInner .toast_lb .toast_cnt p{margin: 3px 0;line-height:22px;}
/*我的账户*/
.account_box{background-color: #fff; padding:30px 0 25px 40px;}
.iconA61,.iconA62,.iconA63,.iconA64,.iconA65{ background-position:-239px -277px;width:99px; height:37px; display:block; text-align:center; line-height:37px; top:0; right:22px; color:#fff;}
.iconA62{background-position:-239px -228px;}
.iconA63{background-position:-7px -475px;}
.iconA64{background-position:-113px -475px;}
.iconA65{background-position:-221px -475px;}
.icon65{width: 63px;height: 63px;background-position: -437px -395px;}
.icon66{width: 63px;height: 63px;background-position: -437px -255px;}
/* 转账*/
.rigContent{min-width:815px; width:83%; background-color:#FFFFFF; float:right; margin-top:15px;}
.w20b{width:15%}

.ul_list2{  border:1px solid #ddd; min-width:160px; background-color:#fff; margin-top:15px;}
.ul_list2 > li{ height:auto; border-bottom:1px solid #ddd; line-height:44px; font-size:14px;}
.ul_list2 > li.noborb{ border-bottom:0;}
.ul_list2 > li{color: #646464;}
/*.ul_list2 > li:hover{color: #FF6329; font-size:14px;  cursor:pointer; }*/
.ul_list2 > li > a{color: #FF6329;display: block; padding-left: 19px;}
/*.ul_list2 > li:active{ color:#E8470C;}*/
/*.ul_list2 > li:visited{ color:red}*/
/*.ul_list2 > li > a:visited{ color:#4d4d4d;}*/
.ul_list2 > li > a{color: #646464;}
.ul_list2 > li > a.sel{color: #FF6329;border-left:3px solid #ff632a;}
.ul_list2 > li.sel > a{}
.ul_list2 > li > ul > li a{display: block;padding-left: 40px; color: #666;}
.ul_list2 > li > ul > li > a.sel {color: #FF6329;}
.ul_list2 > li > ul > li > a:hover{background-color: #D1D1D1;color: #FFF;}
.ul_list2 li a:hover{text-decoration: none;}
.transfers_cont {min-width:800px; border:1px solid #ddd; }
.noborb{ border-bottom:none;}
.transfers_cont .progress_bar{ height:25px; margin:20px 0 23px 0; width:100%; line-height:25px;}
.transfers_cont .progress_bar ul{ float:right;}
.transfers_cont .progress_bar ul li{ float:left;vertical-align:top;}
.icon42,.icon43,.icon44{height:25px; width:25px; display:inline-block; line-height:25px; text-align:center;vertical-align: middle; color:#fff; font-size:18px; margin-right:5px;}
.icon42{ background-position:-189px -69px; }
.icon43{ background-position:-228px -69px; }
.icon44{ background-position:-153px -69px; }
.icon45{ background-position:-352px -72px; width:8px; height:12px; display:inline-block; margin:0 16px;vertical-align: middle;}

.star{color: #ff6600;font-family: "宋体"; margin:0 5px 0 0;}
.input_list ul li{ vertical-align:top; margin-bottom:28px;}
.input_list ul li p{ width:225px; height:36px; line-height:36px; text-align:right; margin-right:20px; float:left;font-size:14px}
.input_list ul li.m_b14{ margin-bottom:14px;}
.input_list ul li.m_b0{ margin-bottom:0;}
.input_list ul li .part_text{ height:36px; line-height:36px;}
.input_list ul li .DropDownList li{ margin-bottom:0}
.error_info{width:216px; line-height:13px; margin-left:10px;_margin-left:-8px; background-color:#fcfce7; color:#f82400; font-size:12px; border:1px solid #ffae58; padding:4px;}
.error_info2{ height:36px; line-height:36px; color:#FF6329; margin-left:10px;}
.open-box ul li .error_info2{ margin-left:0;}
.icon49{ background-position:-544px -66px; width:18px; height:22px; display:inline-block; vertical-align:middle; margin-right:5px;}
.icon54,.icon55{background-position: -177px -401px;width: 165px;height: 68px;display: inline-block;vertical-align:middle;}
.icon54:hover{cursor:pointer; background-position: -6px -401px;}
.icon55{background-position: -6px -401px;}

.icon56,.icon57{background-position: -436px -141px;width: 24px;height: 24px; display:inline-block; vertical-align:middle;}
.icon56:hover{cursor:pointer;}
.icon57{ background-position: -469px -141px;}
.icon57:hover{cursor:pointer;}
.bor_1{ border:1px solid #00C618}
/*万里通积分*/
.account_box2{ height:110px;background-color: #fff;}
.account_box3{ height:122px;background-color: #fff;}
.third_box{width:250px; float:left;}
.four_box{ width:270px; height:350px}
.icon67{background-position: -5px -524px;width:83px;height:81px;}
.icon68{background-position: -96px -524px;width:83px;height:81px;}
.icon69{background-position: -199px -524px;width:83px;height:81px;}
.icon70{background-position: -242px -336px;width:94px;height:27px; }
.icon71,.icon72,.icon73,.icon74{background-position: -1px -616px;width:187px;height:178px; }
.icon72{background-position: -199px -616px;}
.icon73{background-position: -400px -616px;}
.icon74{background-position: -606px -616px;}
.icon75{background-position: -549px -44px;width:6px;height:10px; display:inline-block; vertical-align:middle}

.acmMain{height:210px;}
.acmLeft{border-left:3px solid #ff6329;width:124px;height:210px;}
.acmLtop{min-height:120px;_height:120px;padding-left:20px;}
.acmLbottom a{display:block;background-position:0 -494px;height:32px;padding-left:44px;line-height:32px;margin-left:26px;}
.acmRight{padding-top:27px;padding-left:32px;_width:590px;}
.acmColumn1{position:relative;width:268px;margin-right:24px;_margin-right:12px;border:1px solid #e1e1e1;border-radius:5px;height:150px;background:#fcfcfc;position:relative;}
.acmCot{height:35px;background:#efefef;line-height:35px;}
.acmCot i{display:block;float:left;background-position:0 -534px;width:42px;height:25px;margin-top:4px;margin-left:18px;}
.acmCot span{display:block;float:left;margin-left:9px;color:#444444;font-size:14px;}
.acmCob{line-height:21px;padding-top:14px;}
.acmHeight{min-height:50px;_height:50px;}
.acmBtn{position:absolute;bottom:10px;color:#444;left:18px;}
.acmLeftColor1{border-left:3px solid #00a7ff;}
.acmLeftColor2{border-left:3px solid #ffba00;}
.acmRight1{padding-top:20px;}
.acmRight1  .acmColumn1{height:133px;}
.acmRight2{padding-top:50px;}
.acmLtopNew{padding-left:0;}
.acmColumn2{width:300px;}
.wdss{width:509px;}
/*fanny首页改动*/
.min50{min-width:50px;text-align:center;}
.timesD{position:absolute;bottom:21px;left:130px;}
.icon26{line-height:49px;font-size:16px;}
.tip_box{font-weight:bold;min-width:46px;}
.faSearch{width:210px;background:#fff;border:1px solid #00c618;position:absolute;z-index:1000;top:38px;right:-35px;}
.searchbar1 input{width:135px;padding-left:6px;color:#4d4d4d;font-size:14px;font-family:"微软雅黑";background:none;}
.faSearch em{font-style:normal;display:block;height:30px;padding-left:10px;line-height:30px;color:#666;}
.faMenu li{height:36px;line-height:32px;padding-left:10px;}
.faMenu li:hover,.faMenu li.sel{background:#f2f2f2;}
.faMenu a,.faPage span{font-size:14px;color:#4d4d4d;}
.faMenu a span{background:#fff29c;color:#eb2828;}
.faPage{padding:12px 0;margin:0 10px;}
.faPage a{display:inline-block;width:74px;height:30px;line-height:30px;text-align:center;color:#fff;background:#c3c3c3;border-radius:2px;}
.faPage a.nextPage{background:#ff6329;margin-left:8px;}
.faPage span{margin-top:4px;}

/*细节补充*/
.input_list ul li.m_b16{ margin-bottom:16px;}
.input_list ul li.m_b15{ margin-bottom:15px;}
.input_list ul li.m_b18{ margin-bottom:18px;}
.input_list ul li.m_b4{margin-bottom:4px;}
.input_list ul li.m_b19{ margin-bottom:19px;}



/*首页提示条*/
.tips-div{ background:#fff7d4; border:1px solid #dddddd; padding:10px; height:28px; line-height:28px; font-family:微软雅黑; color:#ec3d00; padding:0 10px; width:910px; margin:0 auto; margin-top:10px;}
.tips-div span{ vertical-align:middle; display:inline-block;}
.tips-div a.link{ color:#0086d0; margin-left:10px;}
.tips-div a:hover{ text-decoration:none;}
.tips-div span.tips-icon{ width:18px; height:18px;  background-image:url(../images/tips-icon.png); background-repeat:no-repeat; background-position:0 0; margin-right:10px;}
.tips-div span.tips-close{ float:right;width:18px; height:18px;  background-image:url(../images/tips-icon.png); background-repeat:no-repeat; background-position:0 -18px; margin-top:5px; cursor:pointer; }




/*导航条修改*/
.navbar2{ width:100%; height:40px; background-color:#FF6329; position:relative; z-index:100;}
.navbar2 .navmenu2{ float:left; width:100%}
.navbar2 .navmenu2 li {float:left; height:40px; line-height:40px; position:relative; z-index:0; }
.navbar2 .navmenu2 li a{padding:10px 8px;color:#fff;font-size:14px;}
.navbar2 .navmenu2 .sel,.navbar2 .navmenu2 li a:hover{ background-color:#EC3D00; text-decoration:none;}
.navbar2 .navmenu2 li a:active{text-decoration:none;}
.navbar2 .navmenu2 li .iconnew{ background-position:-434px -69px; width:27px; height:13px; position:absolute;right:2px; top:-3px;}


.p_lr20{padding:0 20px;}



/*快捷导航*/
.tabs{height: 38px;border-bottom: 1px solid #E2E2E2;background: #FBFBFB;position: relative;width: 100%; font-size:14px; color:#666}
.tabs ul{position: absolute;width: 100%;}
.tabs ul li{float: left;height: 38px;line-height: 38px; background-color:#f7f7f7;}
.tabs ul li.cur{background: #fff;border-bottom: 1px solid #fff; color:#222;}
.tabs ul li span{display: inline-block;padding: 0 15px;height: 38px;line-height: 38px;border-right: 1px solid #E2E2E2;cursor: pointer;}
.icon13{ background-position:-174px -42px; height:18px; width:18px; display:inline-block; top:10px; right:15px; position:absolute;}
.w135 ul li span{ width:135px; padding:0; text-align:center;}
.w135{height: 45px;line-height: 45px;}
.w135 ul li{height: 45px; line-height:45px;}
.w135 ul li span{height: 45px; line-height:45px;}


.rigContentTitle{padding-left: 20px;width: auto;}
.rigContentContent{min-height: 300px;text-align: center;padding-top: 30px;}